*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# idea and eclipse files
.idea/
.settings/
.project
.classpath
target/
build/

# node & bower
node_modules/
bower_components/
